div{
	text-align: center;
	border-radius: 10px;	
}
.first{
	height: 400px;
	width: 1000px;
	background-image: url(innerpeace_photos/mujer1.jpg);
	background-size: cover;
	text-align: center;
	border-radius: 10px;
}
input{
	border-radius: 6px;
}
button{
	border-radius: 5px;
	width: 100px;
	height: 30px;
}
.second{
	height: 300px;
	background-color: white;
	text-align: center;
	border-radius: 10px;
}
.twins{
	height: 300px;
}
.third{
background-image: url(innerpeace_photos/mujer2.jpg);
height: 100%;
width: 50%;
float: left;
border-radius: 10px;
}
.fourth{
	background-color: #5CAC55;
	height: 100%;
	width: 50%;
	float: right;
	border-radius: 10px;
	text-align: center;
}
.fifth{
	height: 300px
	border-radius: 10px;
	text-align: center;
}
.objects{
	float: right;
	font-size: 20px;
	margin: auto;
	list-style: none;
	color: white;
	width: 125px;
	height: -30px;
}
.centertitle{
	color: white;
	clear: both;
	font-weight: normal;
	font-size: 40px;

}
.centertitle2{
	color: green;
	font-weight: normal;
	font-size: 35px;
}
.centertitle3{
	color: white;
	font-weight: normal;
	font-size: 35px;

}
.center
.order{
	float: right;
}
.lessertitle{
	color: white;
	float: left;
	width: 350px;
	font-size: 22px;

}
.greencover{
	color: white;
	background-color: lightgreen;
}
.whitecover{
	color: green;
	background-color: white; 
}
.text1{
	color: white;
	width: 300px;
	margin: auto;
	text-align: justify;
	font-size: 15px;
}
.text2{
	color: green;
	width: 300px;
	margin: auto;
	text-align: justify;
	font-size: 15px;
}
.text3{
	color: white;
	width: 300px;
	margin: auto;
	text-align: justify;
	font-size: 15px;
}