.first{
	height: 400px;
	width: 1000px;
	background-image: url(innerpeace_photos/mujer1.jpg);
	background-size: cover;
	text-align: center;
}
.second{
	height: 300px;
	background-color: white;
}
.twins{
	height: 300px;
}
.third{
background-image: url(innerpeace_photos/mujer2.jpg);
height: 100%;
width: 50%;
float: left;
}
.fourth{
	background-color: #5CAC55;
	height: 100%;
	width: 50%;
	float: right;
}
.fifth{
	height: 300px
}
.objects{
	float: right;
	font-size: 20px;
	margin: auto;
	list-style: none;
	color: white;
	width: 125px;
	height: -30px;
}
.centertitle{
	text-align: center;
	color: white;
	clear: both;
	font-weight: normal;

}
.order{
	float: right;
}
.lessertitle{
	color: white;
	float: left;
	width: 150px;
	font-size: 22px;

}
.greencover{
	color: white;
	background-color: lightgreen;
}
.text1{
	text-align: center;
	color: white;
	width: 300px;
	margin: auto;
}